[run]
source =
  parking_block_app
  parking_block_site
  templates

omit =
    env/*
    */test*
    manage.py
    parking_block_site/wsgi.py
    */tests/*,
    */migrations/*,
    */middleware.py,
    */urls.py,
    */settings/*,
    */wsgi.py,
    manage.py,
    fabfile.py,
    */app_settings.py,


[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    if __name__ == '__main__':